<?xml version="1.0" encoding='UTF-8'?>
<config>
	<team1>
		<player>red0</player>
		<player>red1</player>
		<player>red2</player>
		<player>red3</player>			
	</team1>
	<team2>
		<player>blue0</player>
		<player>blue1</player>
		<player>blue2</player>
		<player>blue3</player>
	</team2>	
	<ball>ball</ball>
	<robot>
		<radius>0.09</radius>
	</robot>
	<field>
		<sizeX>5.4</sizeX>
		<sizeY>7.4</sizeY>
	</field>
	<rrt>
		<safetyMargin>0.03</safetyMargin>
	</rrt>
</config>